* {
    margin: 0;
}

main {
    height: 100vh;
}

.pixel{
    width: 80px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
    float: left;
    text-align: center;
    padding-top: 20px;
}

.board{
    margin: auto;
    width: 252px;
    height: 252px;
}

.img-perfil {
    border-radius: 8rem;
    width: 100px;
    height: 100px;
}